{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="login-box round-border">
        <h3 class="centered">Log in</h3>
        <hr>
        {% if destination and optional %}
        <form action="/login/{{ destination }}/{{ optional }}" method="post">
        {% elif destination %}
        <form action="/login/{{ destination }}" method="post">
        {% else %}
        <form action="/login" method="post">
        {% endif %}
            <div class="form-group mx-sm-3 mb-2">
                <label for="email">Email Address</label>
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email Address" type="email">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="password">Password</label>
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group mx-sm-3 mb-2 centered">
                <a href="/reset_request">Forgot your password?</a>
            </div>
            <div class="form-group mx-sm-3 mb-2 centered">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
            </div>
        </form>
        <hr>
        <div class="centered">
            <h5>Don't have an account?<h5>
            {% if destination and optional %}
                <a href="/register/{{ destination }}/{{ optional }}" class="btn btn-primary btn-sm" role="button">Sign up</a>
            {% elif destination %}
                <a href="/register/{{ destination }}" class="btn btn-primary btn-sm" role="button">Sign up</a>
            {% else %}
                <a href="/register" class="btn btn-primary btn-sm" role="button">Sign up</a>
            {% endif %}
        </div>
    </div>
{% endblock %}