{% extends "layout.html" %}

{% block title %}
    Chicken & Broccoli Pasta
{% endblock %}

{% block main %}
    <h3 class="centered">Chicken, Broccoli, and Kale Pasta</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="centered">
                <img src="/static/images/Pasta_Cropped.jpg" class="meal-picture">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="centered">Ingredients</h4>
            <ul>
                <li>2x Chicken Breast</li>
                <li>1x Onion</li>
                <li>2x Garlic Clove</li>
                <li>8 Baby Chestnut Mushrooms</li>
                <li>75g Kale</li>
                <li>1 Head of Broccoli</li>
                <li>600ml Chicken Stock</li>
                <li>200g Pasta</li>
                <li>100ml Milk</li>
                <li>60ml White Wine</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="round-border">
        <h4 class="centered">Method</h4>
        <ol>
            <li>Heat the oil over a medium-high heat until up to temperature and then add the two diced chicken breasts. Fry until browned before removing from the pan. (5 mins)</li>
            <li>Add a small amount of additional oil before sweating the onions on a medium-low heat.</li>
            <li>Add the 2 cloves of crushed garlic, and continue sweating. (2 mins)</li>
            <li>Add the mushrooms. (2 mins)</li>
            <li>Add the wine and bring to the boil. (5 mins)</li>
            <li>Add the chicken stock and the milk. Bring back to the boil before adding the pasta and cooking for 5 minutes.</li>
            <li>Add the chicken into the mix. (3 mins)</li>
            <li>Add the broccoli. (2 mins)</li>
            <li>Add the kale. (5 mins)</li>
            <li>Rest for 5 minutes off the heat with the lid on. Add 2 tsp cornflour if required.</li>
        </ol>
    </div>
{% endblock %}