{% extends "layout.html" %}

{% block title %}
    Chickpea & Spinach Curry
{% endblock %}

{% block main %}
    <h3 class="centered">Chickpea and Spinach Curry</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="centered">
                <img src="/static/images/Curry_Cropped.jpg" class="meal-picture">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="centered">Ingredients</h4>
            <ul>
                <li>2Tbsp Olive Oil</li>
                <li>1x Onion</li>
                <li>2x Garlic Clove</li>
                <li>1inch Fresh Ginger</li>
                <li>1 1/2 Tbsp Curry Powder</li>
                <li>8 oz. Spinach</li>
                <li>Tinned Tomatoes (1 Tin)</li>
                <li>Tinned Chickpeas (2 Tins)</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="round-border">
        <h4 class="centered">Method</h4>
        <ol>
            <li>Dice the onion, mince the garlic, and grate the ginger before sauteing together with the Olive Oil. (5 mins)</li>
            <li>Add the curry powder and continue to saute. (1 min)</li>
            <li>Add 1/4 cup of water to the pan along with the spinach and saute until wilted. (2 mins)</li>
            <li>Drain and rinse the chickpeas before adding to the pan along with the tinned tomatoes.</li>
            <li>Stir well, bring to a simmer and cook for 5 minutes.</li>
        </ol>
    </div>
{% endblock %}