{% extends "layout.html" %}

{% block title %}
    Beef Chilli
{% endblock %}

{% block main %}
    <h3 class="centered">Chilli Con Carne</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="centered">
                <img src="/static/images/Chilli_Cropped.jpg" class="meal-picture">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="centered">Ingredients</h4>
            <ul>
                <li>500g Lean Beef Mince</li>
                <li>1x Onion</li>
                <li>2x Garlic Clove</li>
                <li>1x Red Pepper</li>
                <li>300ml Beef Stock</li>
                <li>1tbsp Tomato Puree Double Concentrate</li>
                <li>1tsp Paprika, Ground Cumin, and Hot Chilli Powder</li>
                <li>200g Brown Rice</li>
                <li>1x Tin Tomatoes</li>
                <li>1x Tin Kidney Beans</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="round-border">
        <h4 class="centered">Method</h4>
        <ol>
            <li>Warm the oil on a medium-low heat. Add the onions and sweat. (5 mins)</li>
            <li>Add the red pepper, 2 cloves of crushed garlic, and the spices. (5 mins)</li>
            <li>Add the mince, making sure to brown the meat thoroughly. Add salt and pepper to the meat, and also make sure to fully break up the mince so there are no remaining clumps. (5 mins)</li>
            <li>Add the beef stock, tomato puree and the tinned tomatoes. Add salt and pepper to taste.</li>
            <li>Bring to the boil and simmer for 20 minutes.</li>
            <li>Add the beans and simmer for a further 10 minutes.</li>
            <li>Rest for 10 minutes off the heat with the lid on. Add cornflour if required, and check the seasoning one last time.</li>
        </ol>
    </div>
{% endblock %}