{% extends "layout.html" %}

{% block title %}
    Chicken & Chorizo Jambalaya
{% endblock %}

{% block main %}
    <h3 class="centered">Chicken and Chorizo Jambalaya</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="centered">
                <img src="/static/images/Jambalaya_Cropped.jpg" class="meal-picture">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="centered">Ingredients</h4>
            <ul>
                <li>2x Chicken Breast</li>
                <li>1x Onion</li>
                <li>2x Garlic Clove</li>
                <li>1x Red Pepper</li>
                <li>75g Chorizo</li>
                <li>Quarter bag of frozen peas</li>
                <li>1tbsp Cajun Spice</li>
                <li>250g Brown Rice</li>
                <li>1x Tin Tomatoes</li>
                <li>350ml Chicken Stock</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="round-border">
        <h4 class="centered">Method</h4>
        <ol>
            <li>Heat the oil over a medium-high heat until up to temperature and then add the two diced chicken breasts. Add a dusting of cajun spice to coat the meat, and fry until browned before removing from the pan. (5 mins)</li>
            <li>Add a small amount of additional oil before sweating the onions on a medium-low heat.</li>
            <li>Add the red pepper, 2 cloves of crushed garlic, chorizo, and the tablespoon of cajun spice. (5 mins)</li>
            <li>Add the tin of tomatoes, 350ml of chicken stock, and the precooked rice.</li>
            <li>Bring to the boil and cook for 10 minutes.</li>
            <li>Add the chicken back in before cooking for a further 9 minutes.</li>
            <li>Add the peas and cook for a further minute.</li>
            <li>Rest for 5 minutes off the heat with the lid on.</li>
        </ol>
    </div>
{% endblock %}