{% extends "layout.html" %}

{% block title %}
    Vegetable Fried Rice
{% endblock %}

{% block main %}
    <h3 class="centered">Vegetable Fried Rice</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="centered">
                <img src="/static/images/Vege_Rice_Cropped.jpg" class="meal-picture">
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="centered">Ingredients</h4>
            <ul>
                <li>1 1/2 Olive Oil</li>
                <li>1x Onion</li>
                <li>2x Garlic Clove</li>
                <li>2 Eggs</li>
                <li>1 Carrots</li>
                <li>1 Red Pepper</li>
                <li>1 Head of Broccoli</li>
                <li>Frozen Peas</li>
                <li>1Tbsp Grated Ginger</li>
                <li>Red Pepper Flakes</li>
                <li>2 Cups Cooked Brown Rice</li>
                <li>1 Cup Spinach</li>
                <li>3 Green Onions</li>
                <li>1Tbsp Soy Sauce</li>
            </ul>
    </div>
    <br>
    <div class="round-border">
        <h4 class="centered">Method</h4>
        <ol>
            <li>Heat the oil in the wok, add the eggs and scramble. Remove from the wok and add to a bowl.</li>
            <li>Add another Tbsp of oil before adding the onions and carrots. (3-5mins)</li>
            <li>Add all remaining veggies of choice to the wok. Continue to cook until all veg is golden (3-5mins)</li>
            <li>Place the cooked veggies in the same bowl as the scrambled eggs.</li>
            <li>Add the last of the oil, and then add the ginger, garlic, and red pepper flakes, cook for 30 seconds until fragrant.</li>
            <li>Add the rice and mix thoroughly, continue heating. (5mins)</li>
            <li>Add the spinach and green onions. Reintroduce the egg and cooked veg back to the wok and stir to combine.</li>
            <li>Remove from the heat and add the soy sauce.</li>
        </ol>
    </div>
{% endblock %}